[Unit]
Description=Daemon to monitor and control fan speed

[Service]
Type=simple
ExecStart=/usr/bin/x735-daemon fan
Restart=always

[Install]
WantedBy=multi-user.target
