[Unit]
Description=Run Hardware Power Management & Safe Shutdown daemon

[Service]
Type=simple
ExecStart=/usr/bin/x735-daemon pwr
Restart=always

[Install]
WantedBy=multi-user.target